@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  background-color: var(--color-dark-blue);
  color: var(--color-white)
}

:root {
  --color-white: rgb(255 255 255 / 1);
  --color-dark-blue: rgb(13 18 28 / 1);
  --color-light-green: #6cc24a;
  --color-medium-green: #44883e;
  --color-dark-grey: #333333;
  --color-dark-blue-header: rgb(13 18 28 / 1);
  --text-section-color: #08090A;
}